<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="utilisateur">
            <h2><span jhiTranslate="bibliothequeApp.utilisateur.detail.title">Utilisateur</span> {{ utilisateur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.nom">Nom</span></dt>
                <dd>
                    <span>{{ utilisateur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ utilisateur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.datenaissance">Datenaissance</span></dt>
                <dd>
                    <span>{{ utilisateur.datenaissance }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.code">Code</span></dt>
                <dd>
                    <span>{{ utilisateur.code }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.role">Role</span></dt>
                <dd>
                    <span>{{ utilisateur.role }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.pseudo">Pseudo</span></dt>
                <dd>
                    <span>{{ utilisateur.pseudo }}</span>
                </dd>
                <dt><span jhiTranslate="bibliothequeApp.utilisateur.motdepasse">Motdepasse</span></dt>
                <dd>
                    <span>{{ utilisateur.motdepasse }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/utilisateur', utilisateur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
